
        body {
            background: gray;
            color:white;
            margin:0;
            padding:0;

        }
/* HEADER */
        header {
            background-color: black;
            background-image:url("img/002.jpg");
            background-repeat:no-repeat;
            background-size:80%;
            background-position:center;
            padding:20px;
            text-align:center;
            height:400px;
        }
        header .logo a{
            background-color:red;
            background-image:url("img/hamburger.png");
            background-size:100px;
            background-repeat:no-repeat;
            display: inline-block;
            width:100px;
            position: relative;
            height: 100px;
            top:-20px;
            text-indent:999999px;
            text-align:center;

        }
        ul{
            margin:0;
            padding:0;
            list-style-type: none;
        }
        li{
            display:inline-block;
            margin-right: 20px;
        }
/* FEATURES */
        section.features {
            background: white;
            color:gray;
            padding:20px;
            display: flex;
            flex-direction:row;

        }

        .features figure {
            margin:auto;
            width:400px;
        }
        .features figure img{
            border-radius: 50%;
            width:400px;
        }
/* FOOTER */
        footer{
            background:black;
            color:gray;
            font-size: 12px;
            padding:10px 20px;
            text-align:center;

        }
